/*@import url('https://fonts.googleapis.com/css?family=Mukta:700');*/


body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  border: none;
}

/* Scroll bar customization */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: grey black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
  border: 3px solid black;
}

.container .container1 .container2{
  display: flex;
}

.page1 {
  /* The image used */
  /*background-image: url('scroll.gif');*/
  /*background-color: grey;*/

  /* Full height */
  height: 100%; 
  /*padding: 50px;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  /*position: fixed;*/
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  border: none;
  /*pointer-events: none;*/
}

.hero-inner {
    /*background-color:Fuchsia;*/
    /*max-width: 600px;*/
    height: auto;
    position: absolute;
    /*margin: 0 auto;*/
    margin-top: -20%;
    text-align:center;
    color: white;
}

h1{
  font-size: 50px;
}

h4{
  font-size: 20px;
}

.vt_panel{
  position: absolute;
  width: 90%;
  height: 90%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  z-index: 999;
  /*background-color: red;*/
  /*opacity: 0.3;*/
  /*display: none;*/
}

.close{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 15px;
  background-image: url('error.png');
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  /*display: none;*/
  /*float: right;*/
}

#panel_2{
  background-color: black;
}

.back_video{
  position: relative;
  width: 100%;
  height: auto;
  /*float: right;*/
  /*left: 50%;*/
}

#brand_logo{
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.content_{
  width: 100%;
  height: 70%;
  color: white;
  overflow: auto;
  overflow-y: visible;
}

.title_para{
  font-size: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;"
}

.info_para{
  font-family: -webkit-pictograph;
  font-size: 40%;
  margin-left: 20px;
  margin-right: 20px;
}

.modelinfo {
  width: 50%;
  height: 100%;
  float: left;
  background-color: black;
  font-size: 50px;
  /*z-index: 2;*/
  border: none;
  /*overflow: auto;*/
  /*overflow-y: scroll;*/
}

#model1 {
  width: 50%;
  height: 100%;
  float: right;
  /*z-index: 1;*/
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#model2 {
  width: 50%;
  height: 100%;
  float: right;
  /*z-index: 1;*/
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #242424;
}

.qrcode{
  position: relative;
  max-width: 70%;
  max-height: 70%;
  margin-top: 0%;
  margin-left: 15%;
}

.button_div{
  position: absolute;
  bottom: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  /*background-color: grey;*/
}

.click_button{
  width: 135px;
  height: 45px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 30%;
  border-radius: 30px;
  color: white;
  background-color: #000;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.click_button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.click_button:disabled{
  pointer-events: none;
  opacity: 0.3;
}

.click_button_tour{
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 35%;
  border-radius: 30px;
  color: white;
  background-color: #000;
  border-color: #3498db;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  animation: glow 1.5s infinite;
}

.click_button_tour::before {
  transition: all .3s ease-in-out 0s;
  animation: none;
}

.click_button_tour:hover {
  box-shadow: 0 0 20px 0 #3498db inset, 0 0 10px 4px #3498db;
  animation: none;
}

.click_button_tour:hover::before {
  box-shadow: 0 0 20px 0 #3498db inset, 0 0 10px 4px #3498db;
  animation: none;
}

@keyframes glow {
  0% {
    background-color: #3498db;
    box-shadow: 0 0 0 0;
  }
  50% {
    background-color: #00a1ff;
    box-shadow: 0 0 20px 0 #00a1ff
  }
  100% {
    background-color: #3498db;
    box-shadow: 0 0 0 0;
  }
}

.wrap {
  position: absolute;
  top: 65%;
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.anim_button1_1 {
  height: 100%;
  width: 100%;
  align-items: center;
  float: left;
}

.anim_button1 {
  height: 100%;
  width: 25%;
  align-items: center;
  float: left;
}

.anim_button2 {
  height: 100%;
  width: 50%;
  align-items: center;
  float: left;
}

.anim_button3 {
  height: 100%;
  width: 25%;
  align-items: center;
  float: right;
}

.button {
  min-width: 300px;
  min-height: 40px;
  /*font-family: 'Nunito', sans-serif;*/
  font-family: -webkit-pictograph;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: bold;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(0,255,8,.7) 0%, rgba(0,255,231,.7) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(86,255,0,.0.65);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(350px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00f3ff;
  box-shadow: 0 0 60px rgba(0,255,203,.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, .button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
  content: '';
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 350px;
    height: 350px;
    opacity: 0;
  }
}


@media only screen and (max-width: 2560px){
  .title_para{
    font-size: 80%;
  }
  .info_para{
    font-size: 65%;
  }
}

@media only screen and (max-width:  1950px){
  .title_para{
    font-size: 60%;
  }
  .info_para{
    font-size: 50%;
  }
}

@media only screen and (max-width:  1599px){
  .title_para{
    font-size: 45%;
  }
  .info_para{
    font-size: 40%;
  }
}

@media only screen and (max-width:  1300px){
  .title_para{
    font-size: 40%;
  }
  .info_para{
    font-size: 32%;
  }
}


@media only screen and (max-width: 821px){
  .wrap{
    flex-direction: column;
  }

  .vt_panel{
    flex-direction: column;
  }

  .modelinfo{
    width: 100%;
    height: 50%;
  }

  #model1{
    width: 100%;
    height: 50%;
  }

  #model2{
    width: 100%;
    height: 50%;
  }

  .content_{
    height: 60%;
    }

  .button{
    min-width: 198px;
    min-height: 17px;
    font-size: 85%;
  }
  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(198 + 12px);
    min-height: calc(17px + 12px);
    border: 4px solid #00f3ff;
    box-shadow: 0 0 60px rgba(0,255,203,.85);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  .anim_button1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .anim_button2 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .anim_button3 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .vt_panel{
    width: 100%;
    height: 100%;
  }

  .button_div{
    width: 100%;
    bottom: 50%;
  }

  .click_button{
    width: 90px;
    height: 35px;
    font-size: 25%;
  }

/*  .click_button_tour{
    width: 90px;
    height: 35px;
    font-size: 25%;
  }*/


  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }
}